@charset "UTF-8";
@import "default.css";

	ul.dropdown li a { /* Moved from 'custom' section */
		display: block;	 
	}

/* ------------- Override default */

	ul.dropdown li {
	 padding: 0;
	}

/* Especially for IE6 or lower */

	ul.dropdown ul a {
	 padding: 6px 5px 6px 12px;
	 color: #fdfdfd;
	 /*width: 139px;*/
	}

	ul.dropdown ul a:hover {	 
	 width: 172px;
	 padding: 5px 5px 5px 11px;
	 border: solid 1px #74adea;
	 background-color: #3683d4;
	 font-weight: bold;
	 color: white;
	}